<h1>subreddit name: <%=@subreddit.name %> </h1>

<h4>subreddit description: <%=@subreddit.description %> </h4>


  <h2> Top 20 Posts: </h2>
<% @subreddit.posts.each do |post| %>
  <p class="title">
    <%= post.votes %>  <%= post.title %>
  </p>
  <% end %>

  <div class="container-fluid">
        <% @subreddit.posts.each do |post| %>
        <div class="row">
        <div class="col-xs-6"><%= post.votes %> <%= post.title %> </div>
      </div>
      <% end %>
  </div>
